html {
    background-color: rgb(31, 30, 30);
    padding: 0px 100px 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    padding: 20px 150px 0px;
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
    margin: 0 10px;
    color: #F9FAF8;
    font-size: 18px;
}

main {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    padding: 0 75px 75px;
    gap: 30px;
    height:fit-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Introduction {
    flex: 1;
    min-width: 300px;
}

.Introduction button {
    background-color: #3882F6;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    padding: 10px 20px 10px 20px;
    color: white;
    font-weight: bold;
}

.Introduction-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    min-width: 300px;
    height: 300px;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

#image-section {
    background-color: whitesmoke;
    padding: 20px 0 75px;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.imagecollection {
    display:flex;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.image {
    border: 3px solid;
    border-radius: 20px;
    border-color: #3882F6;
    min-width: 150px;
    min-height: 150px;
}

#quote {
    background-color: #E5E7EB;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 75px;
}

#quote blockquote {
    align-self: center;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    margin: 0;
}

#quote p {
    align-self:flex-end;
    font-weight: bold;
    font-size: 18px;
    color: #1F2937;
}

#call-to-action {
    background-color: whitesmoke;
    display: flex;
    padding: 75px;
    justify-content: center;
    align-items: center;
}

.call-background {
    background-color: #3882F6;
    color: whitesmoke;
    padding: 50px;
    border-radius: 12px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}


h3 {
    font-weight: bold;
}

.call-background button {
    flex: 1;
    background-color: #3882F6;
    border: solid 2px;
    border-color: whitesmoke;
    color:whitesmoke;
    border-radius: 12px;
    padding: 20px;
}

footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    color: whitesmoke
}
